<div class="container">
  <div class="row">
    <div class="col-xl-6">
      &copy; 2019 Copyright SUWEN TCM - All rights reserved.
    </div>
    <div class="col-xl-6">
      <div class="float-right">
        <a href="#" target="_blank">
          <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
        </a>
        <a href="#" target="_blank" class="pl-3">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a href="#" target="_blank" class="pl-3">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
      </div>

    </div>
  </div>
</div>